<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--mybatis配置-->
<configuration>

    <!--导入了jdbc.properties配置文件-->
    <properties resource="jdbc.properties"/>

    <settings>
        <!--配置log4j日志-->
        <setting name="logImpl" value="LOG4J2"/>
        <!--开启下划线转驼峰命名-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--开启二级缓存，这一步不写也行，默认就是true-->
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <!--mybatis运行环境配置-->
    <environments default="development">
        <environment id="development">
            <!--事务管理器-->
            <transactionManager type="JDBC"/>
            <!--数据源，type对应数据源的类型-->
            <dataSource type="com.fc.util.DruidDataSourceFactory">
                <property name="driverClassName" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <!--指定Mapper.xml的路径位置-->
    <mappers>
        <mapper resource="com/fc/mapper/StudentMapper.xml"/>
    </mappers>
</configuration>