<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--扫描指定路径下的所有注解-->
    <context:component-scan base-package="com.fc"/>

    <mvc:annotation-driven/>

    <mvc:interceptors>
        <!--切面-->
        <mvc:interceptor>
            <!--拦截的路径-->
            <!--切点-->
            <mvc:mapping path="/user/*"/>
            <!--不拦截的路径-->
            <mvc:exclude-mapping path="/admin/*"/>
            <!--通知-->
            <bean class="com.fc.interceptor.CustomInterceptor"/>
        </mvc:interceptor>

        <mvc:interceptor>
            <mvc:mapping path="/account/getFoods"/>
            <bean class="com.fc.interceptor.CacheInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>