<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--映射文件，namespace命名空间：对应一个完全的全限定名，必须和对应的接口的路径相匹配-->
<mapper namespace="com.fc.dao.DepartmentDao">
    <resultMap id="findByIdMap" type="com.fc.entity.Department">
        <id column="dept_id" property="id"/>
        <result column="dept_name" property="name"/>

        <!--一对多的标签-->
        <collection property="employees" javaType="List" ofType="com.fc.entity.Employee">
            <id property="id" column="emp_id"/>
            <result property="name" column="emp_name"/>
        </collection>
    </resultMap>

    <select id="findById" parameterType="Integer" resultMap="findByIdMap">
        select e.emp_id, e.emp_name, d.dept_id, d.dept_name from department d
        inner join employee e
        on d.dept_id = e.dept_id
        where d.dept_id = #{id}
    </select>
</mapper>