<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--映射文件，namespace命名空间：对应一个完全的全限定名，必须和对应的接口的路径相匹配-->
<mapper namespace="com.fc.dao.StudentDao">
    <resultMap id="findAllWithSubjectMap" type="com.fc.entity.Student">
        <id property="id" column="stu_id"/>
        <result property="name" column="stu_name"/>
        <result property="age" column="age"/>
        <result property="gender" column="gender"/>
        <result property="birthday" column="birthday"/>
        <result property="info" column="info"/>

        <collection property="subjects" javaType="List" ofType="com.fc.entity.Subject">
            <id property="id" column="sub_id"/>
            <result property="name" column="sub_name"/>
        </collection>
    </resultMap>

    <select id="findAllWithSubject" resultMap="findAllWithSubjectMap">
        select stu.id as stu_id, stu.name as stu_name, age, gender, birthday, info, sub.id as sub_id, sub.name as sub_name
        from student stu
        inner join student_ref_subject srs
        on stu.id = srs.stu_id
        inner join subject sub
        on sub.id = srs.sub_id
    </select>
</mapper>