<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <!--扫描指定路径下的所有注解-->
    <context:component-scan base-package="com.fc.controller"/>

    <mvc:annotation-driven/>

    <!--放行静态资源-->
    <mvc:default-servlet-handler/>

    <mvc:interceptors>
        <!--配置跨域-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.fc.interceptor.CrossInterceptor"/>
        </mvc:interceptor>
        <!--token验证的拦截器-->
        <!--除了登录其他全部都要验证-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/user/login"/>
            <mvc:exclude-mapping path="/swagger-ui.html/**"/>
            <mvc:exclude-mapping path="/v2/**"/>
            <mvc:exclude-mapping path="/webjars/**"/>
            <mvc:exclude-mapping path="/swagger-resources/**"/>
            <bean class="com.fc.interceptor.JwtInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!--用于导入其他的配置文件-->
    <import resource="classpath:applicationContext.xml"/>

    <!--文件解析器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--单个文件的大小-->
        <property name="maxUploadSizePerFile" value="20000000"/>
    </bean>
</beans>