<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="car" class="com.fc.entity.Car">
        <property name="color" value="绿色"/>
        <property name="speed" value="120"/>
    </bean>

    <bean id="person" class="com.fc.entity.Person">
        <property name="name" value="姐你不配"/>
        <property name="gender" value="男"/>
        <property name="car" ref="car"/>
    </bean>
</beans>